
@model IEnumerable<Hotel.Models.Servizi>
@{
    ViewBag.Title = "Index";
}

<h2 class="mb-3">Servizi Forniti</h2>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Data del Servizio</th>
            <th>Descrizione</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Modifica</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hotel.Models.Servizi s in Model)

        {
            <tr>
                <td>@s.DataServizio.ToShortDateString()</td>
                <td>@s.Descrizione</td>
                <td>@s.Quantita</td>
                <td>@s.Prezzo.ToString("C")</td>

                <td><a href="@Url.Action("ModificaServizio", "Servizi" ,new { IdServizio = s.IdServizio})" class="btn btn-outline-warning">Modifica</a></td>
            </tr>
        }
    </tbody>
</table>

